</main>
<div id="slider">
    <img class="slidPic" src="assets/topImg/4.JPG">
    <img class="slidPic" src="assets/topImg/5.JPG">
    <img class="slidPic" src="assets/topImg/6.JPG">
    <img class="slidPic" src="assets/topImg/7.JPG">
    <img class="slidPic" src="assets/topImg/10.JPG">
</div>
<main>

<div style="margin-top: 100px;"></div>

<h1 class="top-title">イベント開催、しませんか？</h1>
<p class="top-text">このサイトでイベント開催すると、いろいろいい感じにできますよ！</p>

<div style="margin-top: 100px;"></div>
<h1 class="top-title">イベント参加、しませんか？</h1>
<p class="top-text">きっと楽しいですよ！！</p>