</main>
<div id="slider">
    <img class="slidPic" src="assets/topImg/4.JPG">
    <img class="slidPic" src="assets/topImg/5.JPG">
    <img class="slidPic" src="assets/topImg/6.JPG">
    <img class="slidPic" src="assets/topImg/7.JPG">
    <img class="slidPic" src="assets/topImg/10.JPG">
</div>
<main>