<% @page_title = "タグ作成" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "戻る", :back %></div>

<%= form_for @tag, as: "tag", url: admin_tags_path do |form| %>
    <%= render "tag_form", form: form %>
<% end %>