/*全体*/

* {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #999999;
}


/* Main */

main {
    margin: 20px auto;
    width: 70%;
    max-width: 850px;
}

.tags {
    margin: 0 auto;
    text-align: center;
}

#sword {
    width: 500px;
    height: 30px;
    font-size: 18px;
}

a {
    color: #520670;
}


/*list Table*/

.list {
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.list tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

.list tr:hover {
    background-color: #bacefa;
}

.list th,
.list td {
    text-align: center;
    width: auto;
    padding: 15px 0;
}

.search {
    text-align: center;
}


/*attr Table*/

.attr {
    width: 100%;
    border-collapse: collapse;
}

.attr tr {
    border-bottom: solid 2px #cbd9f8;
}

.attr tr:last-child {
    border-bottom: none;
}

.attr th {
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #eca96a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.attr th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid #eca96a;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.attr td {
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}


/*form*/


/*text*/

input[type='text'] {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search input[type='text'] {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='password'] {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/*check*/

.checkbox-wrap label {
    margin-right: 20px;
    display: inline-block;
}

.checkbox-wrap input {
    display: none;
}

.checkbox-wrap input+span {
    padding-left: 22px;
    position: relative;
}

.checkbox-wrap input+span::before {
    content: "";
    background-image: url(../img/check.png);
    background-size: contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.checkbox-wrap input:checked+span {
    color: #487cff;
    font-weight: bold;
}

.checkbox-wrap input:checked+span::after {
    content: "";
    background-image: url(../img/check-checked.png);
    background-size: contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}


/*submit*/

input[type="submit"] {
    border: none;
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin: 0 auto;
}

.search input[type="submit"] {
    border: none;
    display: inline;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 auto;
}

#login-form input[type="submit"] {
    text-align: center;
    border: none;
    display: inline;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin: 0 auto;
}


/*select*/

select:before {
    position: static;
    height: 15px;
}

select {
    outline: none;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}


/*textarea*/

textarea {
    width: 100%;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/*list*/

.menu {
    counter-reset: list;
    list-style-type: none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding: 0;
}

.menu li {
    position: relative;
    padding: 0 0 0 30px;
    margin: 7px 0 7px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    border: dashed 1px transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.menu li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    background: #195ae7;
    border-radius: 50%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu li:hover {
    border-bottom-color: #195ae7;
}


/*navi*/

.navi ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #366819;
    /*Safari対応*/
    height: 52px;
}

.navi ul li {
    float: left;
    border-right: 1px solid #bbbbbb;
    width: 140px;
    /*Safari対応*/
    height: 52px;
}

.navi ul li:last-child {
    margin-left: auto;
}

.navi ul li a {
    /* リンク時 */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*Safari対応*/
    height: 52px;
}

.navi ul li p {
    /* text */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px;
    /*Safari対応*/
    height: 52px;
}

.navi ul li span {
    /* 現ページ */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #368b04;
    /*Safari対応*/
    height: 52px;
}

.navi ul li a:hover {
    background-color: #22460d;
}


/* PageTop */

#page_top {
    position: fixed;
    bottom: 30px;
    right: 40px;
}

#page_top i {
    padding-top: 7px;
    padding-right: 7px;
}

#page_top a {
    display: block;
    z-index: 999;
    padding: 10px 0 0 10px;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    background-color: #368b04;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#page_top a:hover {
    text-decoration: none;
    opacity: 0.7;
}


/*error*/

div#errors {
    background-color: #fee;
    border: 1px solid #ecc;
    padding: 15px;
    margin: 0 0 1em;
}

div#errors h2 {
    font-size: 90%;
    color: red;
    margin: 0 0 4px;
    border: none;
}

div#errors ul {
    margin: 0;
    padding-left: 1.5em;
}

div.field_with_errors {
    background-color: #fcc;
    padding: 5px;
}


/*flash*/

p.notice {
    border: 1px solid rgb(16, 117, 184);
    padding: 3px;
    background-color: rgb(176, 216, 253);
}


/*footer*/

footer {
    margin-top: 100px;
    display: block;
    clear: both;
    padding: 20px 0;
    overflow: hidden;
    background: #22460d;
    min-height: 100px;
}

footer p {
    text-align: center;
    color: #eee;
}